* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
}

header {
    
    position: sticky;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: min(5vw, 200%);
    padding: 15px;
    top: 0;
    background: hsla(11, 82%, 87%, 1);
    background: linear-gradient(135deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
}

article h1 {
    font-size:45px;
}

#content {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
}

body {
    position: absolute;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
    overflow:scroll;
    
}

nav {
    position: fixed;
    background-color: rgb(238, 230, 238);
    overflow: scroll;
    width: 25%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav::-webkit-scrollbar {
    display: none;
}

#flexboxforformatting {
    flex-basis: calc(100% / 4);
    height: 100%;
}

nav div {
    padding: 15px;
    text-align: center;
    background-color: rgb(238, 230, 238);
}

    nav div:hover {
        transition: background-color 0.2s;
        transition: background-color 0.2s;
        background-color: rgb(207, 178, 209);
    }

article {
    margin: 15px;
    flex-basis: calc(100% / 4 * 3);
    padding:20px;
}

article * {
    margin-bottom:15px;
    
}

.hidden {
    display: none;
}

img {
    width: 100%;
    box-shadow: 10px 10px rgb(207, 178, 209);
}

@media screen and (max-width: 767px) {
    nav {
        max-height: 20vh;
        width:100%;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position:initial;
    }

    #flexboxforformatting {
        display:none;
    }

    nav div {
        padding:15px;
    }

    #content {
        display:initial;
    }

    nav::-webkit-scrollbar {
        display: none;
    }
}

